<div class="container">
  <h2 class="my-4">About Me</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/profile.jpg" class="img-fluid rounded-circle" alt="Profile Picture">
    </div>
    <div class="col-md-8 para">
          <div>
            <p>I am a results-driven software developer with 2 years of internship experience at Algoriant Technologies in Tiruvannamalai. My expertise spans Java, Spring Boot, Microservices, JDBC, and automation with REST APIs, which enables me to deliver robust backend solutions. I am passionate about leveraging my technical skills to contribute to innovative projects while advancing my career in software development.</p>

            <p>Currently, I am employed as a software developer at Boscosoft Technologies, Yelagiri Hills, where I am deepening my knowledge of .NET technologies, with a strong focus on LINQ methods, Standard Query Operators, and data aggregation techniques. In parallel, I am honing my front-end development skills using React and Vite to build dynamic and modern applications. Additionally, I am expanding my understanding of finance and accounting concepts to better align my technical expertise with business objectives.</p>
            
            <p>Beyond technology, I am an avid learner with an interest in languages and poetry, particularly Tamil and English. I am committed to continuous learning and refining both my technical and creative abilities to remain at the forefront of the industry.</p>            
          </div>
    </div>
  </div>
</div>
