<div class="container">
  <h2 class="my-4">About Me</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/profile.jpg" class="img-fluid rounded-circle" alt="Profile Picture">
    </div>
    <div class="col-md-8 para">
          <div>
            <p>I am a software developer with 2 years of internship experience at Algoriant Technologies in Tiruvannamalai. I have hands-on experience in Java, Spring Boot, Microservices, JDBC, and automation (REST API).</p>
          <p>My goal is to leverage my skills and experience to contribute to innovative projects and continuously grow in the field of software development.</p>
          <p>Currently, I am expanding my knowledge in .NET technologies, focusing on LINQ methods, Standard Query Operators, Aggregating with LINQ, and more. I enjoy learning new languages and styles of poetry, including Tamil and Thanglish.</p>
       
          </div>
    </div>
  </div>
</div>
