<div class="container">
  <h2 class="my-4">Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/inventory.webp" class="card-img-top" alt="Inventory Intelligence">
        <div class="card-body">
          <h5 class="card-title">Inventory Intelligence</h5>
          <p class="card-text">Maintaining product details in a supermarket with a barcode system. Developed a micro-service and unit testing.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/student.png" class="card-img-top" alt="Student Management System">
        <div class="card-body">
          <h5 class="card-title">Student Management System</h5>
          <p class="card-text">Automation testing to ensure proper functionality. Developed using TestNG.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/voting.png" class="card-img-top" alt="Online Voting System">
        <div class="card-body">
          <h5 class="card-title">College Student Council Online Voting System</h5>
          <p class="card-text">Maintaining candidate and voter details, publishing election results. Developed using Spring Boot and AngularJS.</p>
        </div>
      </div>
    </div>
  </div>
</div>
