<div class="container">
  <h2 class="my-4">Skills</h2>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Spring Boot (Java)</li>
        <li class="list-group-item">JDBC (Java)</li>
        <li class="list-group-item">.NET (C#)</li>
        <li class="list-group-item">Microservices (Spring Boot & .NET)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Angular JS</li>
        <li class="list-group-item">React JS</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">PostgreSQL & Microsoft Sql Server</li>
      </ul>
    </div>
  </div>
</div>