<div class="jumbotron text-center bg-primary text-white">
    <h1 class="display-4">Welcome to Nirmal's Portfolio</h1>
    <p class="lead">Passionate Software Developer</p>
    <!-- <a class="btn btn-light btn-lg" href="#projects" role="button">See My Work</a> -->
  </div>
  <div class="container text-center mt-5">
    <h2>Latest Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/inventory.webp" class="card-img-top" alt="Inventory Intelligence">
          <div class="card-body">
            <h5 class="card-title">Inventory Intelligence</h5>
            <p class="card-text">Maintaining product details in a supermarket with a barcode system.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/student.png" class="card-img-top" alt="Student Management System">
          <div class="card-body">
            <h5 class="card-title">Student Management System</h5>
            <p class="card-text">Automation testing to ensure proper functionality.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/voting.png" class="card-img-top" alt="Online Voting System">
          <div class="card-body">
            <h5 class="card-title">Online Voting System</h5>
            <p class="card-text">Maintaining candidate and voter details, publishing election results.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  